.center {
    text-align: center;
}

#content {
    border-style: dashed;
    margin: auto;
    width: 800px;
    padding: 10px;
}

#categories {
    display: grid;
}

.button {
    border: 2px solid #4CAF50;
    background-color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.questionBarButton {
    border: 2px solid black;
    background-color: white;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 10px;
    cursor: pointer;
    border-radius: 12px;
    width: 160px;
}

.buttonSmall {
    border: 2px solid black;
    background-color: white;
    padding: 5px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}

.menuSquare {
    border: 2px solid black;
    margin: 4px 2px;
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
}

.menuSquareText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -webkit-fill-available;
}

.userMistake {
    background-color: #e71919;
}

.mistake {
    background-color: #ffa2a2;
}

.correct {
    background-color: #1a7e1e;
}

.displayNone {
    display: none !important;
}