{* This is the welcome page, you can delete it *}

{block content}

<div id="content">
	<h1 class="center">DK TESTER</h1>
	<h2 id="categoryName" class="center">Testovací kategorie</h2>

	<hr>

	<div class="center">
		<div id="score">
		</div>

		<div>
			<a id="returnToHomepage" class="buttonSmall" href="{plink Homepage:}">Vrátit se na Úvodní stránku</a>
			<a id="resetCurrentAnswers" class="buttonSmall displayNone" href="#">Začít znovu</a>
		</div>
	</div>

	<hr>

	<div id="categories" style="word-break: break-all;">
	</div>
</div>

<script>
	const actualLink = '//' + location.host + location.pathname;
	const urlParams = new URLSearchParams(window.location.search);
	const categoryId = urlParams.get("categoryId");
	const questionNumber = urlParams.get("questionNumber");

	$(document).ready(function() {
		if (document.getElementById("categories") && document.getElementById("returnToHomepage") && document.getElementById("categoryName") && document.getElementById("score")) {
			let questionDataset = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-question-" + questionNumber)) ?? null;
			let answerSheet = localStorage.getItem("dataset_" + categoryId + "-questionAnswerSheet") ?? null;
			let scoreSheet = localStorage.getItem("dataset_" + categoryId + "-questionScoreSheet") ?? null;
			let bestScore = localStorage.getItem("dataset_" + categoryId + "-bestScore") ?? null;

			if (answerSheet === null) {
				localStorage.setItem("dataset_" + categoryId + "-questionAnswerSheet", JSON.stringify({"startTime": new Date()}))
			}

			if (scoreSheet === null) {
				localStorage.setItem("dataset_" + categoryId + "-questionScoreSheet", JSON.stringify({}))
			}

			if (bestScore === null) {
				localStorage.setItem("dataset_" + categoryId + "-bestScore", JSON.stringify({}))
			}

			if (questionDataset === null) {
				$.ajax({
					url: {link 'downloadCategoryQuestions!'},
					data: {
						id: categoryId,
					},
					type: "POST",
					success: function (data) {
						if (data === "error") {
							alert("Nebyly nalezeny žádné otázky!")
						} else {
							let dataset = {};
							$.each(data, function (index, category) {
								dataset[index] = JSON.stringify(category)
							})

							localStorage.setItem("dataset_" + categoryId, JSON.stringify(dataset))

							questionDataset = JSON.parse(localStorage.getItem("dataset_" + categoryId));

							document.dispatchEvent(
								new CustomEvent("contentLoad", {'detail': {
									dataset: questionDataset,
									questionNumber: questionNumber
								}})
							)
						}
					}
				})
			} else {
				document.dispatchEvent(
					new CustomEvent("contentLoad", {'detail': {
						param: questionDataset
					}})
				)
			}
		} else {
			alert("Tester není k dispozici!");
		}
	})

	document.addEventListener("contentLoad", function (e) {
		function showQuestionsBar() {
			let questionsBarAppend = "";

			let previousQuestionNumber = parseInt(questionNumber) - 1
			if (dataset.hasOwnProperty(previousQuestionNumber)) {
				let previousQuestionLink = actualLink + "?categoryId=" + categoryId + "&questionNumber=" + previousQuestionNumber;

				questionsBarAppend += '<a class="questionBarButton" value="' + previousQuestionNumber + '" href="' + previousQuestionLink + ' ">Předchozí otázka</a>';
			}

			let nextQuestionNumber = parseInt(questionNumber) + 1
			if (dataset.hasOwnProperty(nextQuestionNumber)) {
				let nextQuestionLink = actualLink + "?categoryId=" + categoryId + "&questionNumber=" + nextQuestionNumber;

				questionsBarAppend += '<a class="questionBarButton" value="' + nextQuestionNumber + '" href="' + nextQuestionLink + ' ">Další otázka</a>';
			}

			return questionsBarAppend
		}

		function showQuestionAnswerSheet(parsedQuestionInfoObject) {
			let answerSheet = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-questionAnswerSheet"))
			let questionAnswerSheetAppend = '';

			//key = answer_(number), answer = Value
			$.each(parsedQuestionInfoObject.answers, function (key, answer) {
				let element = '';

				let answeredQuestion = answerSheet["userAnswer_" + questionNumber] ?? null
				//check if question is answered
				if (answeredQuestion !== null) {
					if (parsedQuestionInfo.is_correct === key) {
						element = 'correct';
					} else if (answeredQuestion === key) {
						element = 'userMistake';
					} else {
						element = 'mistake';
					}
				}

				questionAnswerSheetAppend += '<button class="answer ' + element + '" value="' + key + '" style="width: 100%; padding-left: 10px; text-align: left; border-radius: 12px; margin: 2px 0px">' + answer + '</button>';
			})

			return questionAnswerSheetAppend;
		}

		function showQuestionsList(dataset) {
			let questionsListAppend = '';

			//key = question array key
			$.each(dataset, function (key) {
				let answerSheet = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-questionScoreSheet"))
				let questionMenuLink = actualLink + "?categoryId=" + categoryId + "&questionNumber=" + key
				let element = '';

				let answeredQuestion = answerSheet[key] ?? null
				if (answeredQuestion !== null) {
					element = answeredQuestion ? 'correct' : 'mistake';
				}

				questionsListAppend += '<div id="menuSquare-' + key + '" class="menuSquare ' + element +'"><a href="' + questionMenuLink + '"><div class="menuSquareText">'+ key +'</div></a></div>'
			})

			return questionsListAppend
		}

		function showScore(dataset) {
			let scoreAppend = '';
			let questionAnswerSheet = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-questionAnswerSheet"));
			let scoreSheet = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-questionScoreSheet"));
			let bestScore = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-bestScore"));

			let numberOfCorrectAnswers = 0;
			let numberOfAnswers = 0;
			let numberOfQuestions = Object.keys(dataset).length

			$.each(scoreSheet, function (key, value) {
				numberOfAnswers += 1

				if (value === true) {
					numberOfCorrectAnswers += 1;
				}
			})

			scoreAppend += '<div>' +
				'Celkové skóre: ' + numberOfCorrectAnswers + ' / ' + numberOfAnswers + ' [' + numberOfQuestions + ']' +
				'</div>'

			let fistStatement = Object.keys(dataset).length <= Object.keys(scoreSheet).length;
			if (fistStatement || Object.keys(bestScore).length > 0) {
				if (!questionAnswerSheet['time'] && fistStatement) {
					questionAnswerSheet['time'] =
						((new Date()).getTime() - (new Date(questionAnswerSheet["startTime"])).getTime()) / 1000
					localStorage.setItem("dataset_" + categoryId + "-questionAnswerSheet", JSON.stringify(questionAnswerSheet))

					scoreAppend = '<div>' +
						'Celkové skóre: ' + numberOfCorrectAnswers + ' / ' + numberOfAnswers + ' [' + numberOfQuestions + ']' + ' [čas: ' + questionAnswerSheet['time'] + 's]' +
						'</div>';
				}

				if (
					questionAnswerSheet['time'] && (bestScore === {} ||
					bestScore['numberOfQuestions'] !== numberOfQuestions ||
					bestScore['numberOfCorrectAnswers'] < numberOfCorrectAnswers ||
					(bestScore['numberOfCorrectAnswers'] === numberOfCorrectAnswers && questionAnswerSheet['time'] < bestScore['time']))
				) {
					bestScore['numberOfCorrectAnswers'] = numberOfCorrectAnswers
					bestScore['numberOfQuestions'] = numberOfQuestions
					bestScore['time'] = questionAnswerSheet['time'];

					localStorage.setItem("dataset_" + categoryId + "-bestScore", JSON.stringify(bestScore))
				}

				bestScore = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-bestScore"))

				scoreAppend += '<div>' +
					'Nejlepší skóre: ' + bestScore['numberOfCorrectAnswers'] + ' / ' + bestScore['numberOfQuestions'] + ' [čas: ' + bestScore['time'] + 's]' +
					'</div>'
			}

			if (numberOfAnswers > 0) {
				$('#resetCurrentAnswers')[0].style.setProperty('display', 'inline-block', 'important')
			} else {
				$('#resetCurrentAnswers')[0].style.setProperty('display', 'none', 'important')
			}

			scoreElement.empty();
			scoreElement.append(
				'<div>' +
					scoreAppend +
				'</div>'
			)
		}

		function prepareTesterAndAppendAll(parsedQuestionInfo, mainElement, dataset) {
			$("#categoryName").text($("#categoryName").text() + " | " + parsedQuestionInfo.categoryName);

			showScore(dataset)

			mainElement.append(
				'<h2 id="question" class="center">' + questionNumber + ') ' + parsedQuestionInfo.question + ' </h2>' +
				showQuestionAnswerSheet(parsedQuestionInfo) +
				'<div class="center">' +
				showQuestionsBar() +
				'</div>' +
				'<div id="questionMenu">' +
				showQuestionsList(dataset) +
				'</div>'
			);
		}

		function answerClicked(clickedAttribute, parsedQuestionInfo, dataset) {
			let answerSheet = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-questionAnswerSheet"))
			let scoreSheet = JSON.parse(localStorage.getItem("dataset_" + categoryId + "-questionScoreSheet"))

			let answeredQuestion = answerSheet["userAnswer_" + questionNumber] ?? null
			let scoredQuestion = scoreSheet[questionNumber] ?? null

			if (answeredQuestion !== null || scoredQuestion !== null) {
				return;
			}

			let menuSquareElement = $('#menuSquare-' + questionNumber);

			if (clickedAttribute.value === parsedQuestionInfo.is_correct) {
				scoreSheet[questionNumber] = true;

				$.each(mainElement.children(".answer"), function () {

					if (parsedQuestionInfo.is_correct === this.value) {
						$(this).addClass("correct");
						$(this).removeClass("mistake");
						$(this).removeClass("remove");
					} else {
						$(this).addClass("mistake");
						$(this).removeClass("correct");
						$(this).removeClass("remove");
					}
				})

				menuSquareElement.removeClass('mistake');
				menuSquareElement.addClass('correct');
			} else {
				scoreSheet[questionNumber] = false;

				$.each(mainElement.children(".answer"), function () {
					if (clickedAttribute === this) {
						$(this).addClass("userMistake");
						$(this).removeClass("correct");
						$(this).removeClass("mistake");
					} else if (parsedQuestionInfo.is_correct === this.value) {
						$(this).addClass("correct");
						$(this).removeClass("userMistake");
						$(this).removeClass("mistake");
					} else {
						$(this).addClass("mistake");
						$(this).removeClass("correct");
						$(this).removeClass("userMistake");
					}
				})

				menuSquareElement.removeClass('correct');
				menuSquareElement.addClass('mistake');
			}

			answerSheet["userAnswer_" + questionNumber] = clickedAttribute.value;
			localStorage.setItem("dataset_" + categoryId + "-questionAnswerSheet", JSON.stringify(answerSheet))
			localStorage.setItem("dataset_" + categoryId + "-questionScoreSheet", JSON.stringify(scoreSheet))

			showScore(dataset)
		}

		let dataset = e.detail.dataset;
		let questionNumber = e.detail.questionNumber;
		let mainElement = $(document).find("#categories");
		let scoreElement = $(document).find("#score");
		let parsedQuestionInfo = JSON.parse(JSON.parse(dataset[questionNumber])["question_info"]);


		prepareTesterAndAppendAll(parsedQuestionInfo, mainElement, dataset)

		mainElement.children(".answer").on("click", function () {
			answerClicked(this, parsedQuestionInfo, dataset)
		});

		$("#resetCurrentAnswers").on("click", function () {
			localStorage.setItem("dataset_" + categoryId + "-questionAnswerSheet", JSON.stringify({"startTime": new Date()}));
			localStorage.setItem("dataset_" + categoryId + "-questionScoreSheet", JSON.stringify({}));

			window.location.href = actualLink + "?categoryId=" + categoryId + "&questionNumber=" + questionNumber;
		});
	})
</script>