{* This is the welcome page, you can delete it *}

{block content}

<div id="content">
	<h1 class="center">DK TESTER</h1>
	<h2 class="center">Testovací kategorie</h2>

	<div>
		<div id="categories">
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
		if (document.getElementById("categories")) {
			$.ajax({
				url: {link 'categories!'},
				type: "POST",
				success: function (data) {
					if (data.length > 0) {
						$.each(data, function (index, category) {
							let href = window.location.href + "question/?categoryId=" + category["id"] + "&questionNumber=1";

							$("#categories").append(
								'<a class="button link" value="' + category["id"] + '" href="' + href + ' ">'
									+ '<div>' + category["name"] + '</div>' +
								'</a>'
							)
						})

						document.dispatchEvent(new Event("contentLoad"))
					} else {
						alert("Nebyly naleznuty testovací kategorie s otázkami!");
					}
				}
			})
		} else {
			alert("Tester není k dispozici!");
		}
	})

	document.addEventListener("contentLoad", function () {
		$('.link').on('click', function(e) {
			let id = $(this).attr('value');
			let href = $(this).attr('href');
			e.preventDefault()
			if (id !== null) {
				$.ajax({
					url: {link 'downloadCategoryQuestions!'},
					data: {
						id: $(this).attr('value'),
					},
					type: "POST",
					success: function (data) {
						if (data === "error") {
							if (confirm("Během dotazování do DB došlo k chybě. Je možné, že zvolený dataset otázek nebude fungovat. Přejete si i přesto pokračovat?")) {
								window.location.href = href
							}
						} else {
							let dataset = {};
							$.each(data, function (index, category) {
								dataset[index] = JSON.stringify(category)
							})

							localStorage.setItem("dataset_" + id, JSON.stringify(dataset))

							window.location.href = href
						}
					}
				})
			}
		});
	})

</script>